@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Black";
  src: url("../fonts/Montserrat-Black.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
  margin: 0;
}

.container {
  max-width: 1680px;
  width: 96%;
  margin: auto;
}
@media (max-width: 800px) {
  .container {
    width: 92%;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.body-overflowY {
  overflow-y: hidden;
}

.socials-icon {
  width: 35px;
}
@media (max-width: 1600px) {
  .socials-icon {
    width: 30px;
  }
}
@media (max-width: 1240px) {
  .socials-icon {
    width: 28px;
  }
}
@media (max-width: 600px) {
  .socials-icon {
    width: 20px;
  }
}

.section-title {
  margin: 0;
  font-size: 35px;
  line-height: 1.5;
}
@media (max-width: 1600px) {
  .section-title {
    font-size: 25px;
  }
}
@media (max-width: 1240px) {
  .section-title {
    font-size: 23px;
  }
}
@media (max-width: 1100px) {
  .section-title {
    font-size: 21px;
  }
}
@media (max-width: 800px) {
  .section-title {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .section-title {
    font-size: 16px;
  }
}

.button {
  font-size: 20px;
  padding: 16px 18px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: black;
  color: #fff;
}
@media (max-width: 1600px) {
  .button {
    font-size: 14px;
    padding: 14px 16px;
  }
}
@media (max-width: 1240px) {
  .button {
    padding: 12x 14px;
  }
}
@media (max-width: 1000px) {
  .button {
    font-size: 13px;
  }
}
@media (max-width: 800px) {
  .button {
    padding: 10px 12px;
  }
}
@media (max-width: 600px) {
  .button {
    font-size: 12px;
  }
}

.NavbarHover:hover {
  transition: 0.2s;
  background-color: #000;
  color: #fff;
}
@media (max-width: 1000px) {
  .NavbarHover:hover:hover {
    color: #000;
    background-color: #fff;
  }
}
.NavbarHover:not(hover) {
  transition: 0.2s;
}

.SocialHover {
  border-radius: 100px;
}
.SocialHover:hover {
  transition: 0.2s;
  background-color: #000;
}
@media (max-width: 1000px) {
  .SocialHover:hover:hover {
    background-color: #fff;
  }
}
.SocialHover:not(:hover) {
  transition: 0.2s;
}

.ViewHover {
  width: -moz-fit-content;
  width: fit-content;
}
.ViewHover:hover {
  scale: 1.02;
  background-color: #fff;
  cursor: pointer;
  color: #000;
  transition: 0.3s;
  border: 1px solid black;
}
.ViewHover:not(:hover) {
  transition: 0.2s;
}

.hamburger {
  position: relative;
  display: none;
  width: 45px;
  height: 45px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
}
@media (max-width: 1000px) {
  .hamburger {
    display: block;
  }
}
@media (max-width: 400px) {
  .hamburger {
    width: 35px;
  }
}

.hamburger .bar, .hamburger:after, .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #000;
  margin: 5px 0;
  transition: 0.3s;
}
@media (max-width: 400px) {
  .hamburger .bar, .hamburger:after, .hamburger:before {
    height: 3px;
  }
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-7px, 8px);
}
@media (max-width: 400px) {
  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-6px, 6px);
  }
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-5px, -5px);
}
@media (max-width: 400px) {
  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-6px, -5px);
  }
}

.navbar {
  padding: 35px 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0px 1px 20px;
}
@media (max-width: 1600px) {
  .navbar {
    padding: 15px 0;
  }
}
@media (max-width: 1240px) {
  .navbar {
    padding: 10px 0;
  }
}
@media (max-width: 1000px) {
  .navbar {
    padding: 5px 0;
  }
}
@media (max-width: 400px) {
  .navbar {
    padding: 0;
  }
}
.navbar-wrap {
  display: flex;
  justify-content: space-between;
}
.navbar-logo {
  display: flex;
  align-items: center;
}
.navbar-logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.navbar-logo span {
  display: block;
  margin-left: 10px;
  font-size: 30px;
  color: #000;
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
@media (max-width: 1600px) {
  .navbar-logo span {
    font-size: 20px;
  }
}
@media (max-width: 1240px) {
  .navbar-logo span {
    margin-right: 20px;
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .navbar-logo span {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .navbar-logo span {
    font-size: 12px;
  }
}
@media (max-width: 1600px) {
  .navbar-logo img {
    width: 30px;
  }
}
@media (max-width: 1240px) {
  .navbar-logo img {
    width: 26px;
  }
}
@media (max-width: 600px) {
  .navbar-logo img {
    width: 21px;
  }
}
@media (max-width: 400px) {
  .navbar-logo img {
    width: 17px;
  }
}
.navbar-links {
  display: flex;
  align-items: center;
}
@media (max-width: 1000px) {
  .navbar-links {
    position: absolute;
    display: none;
    width: 100%;
    top: 0;
    right: 0;
    background-color: black;
    width: 100%;
    height: 100vh;
    margin-top: 57px;
  }
}
@media (max-width: 400px) {
  .navbar-links {
    margin-top: 46px;
  }
}
.navbar-links a {
  padding: 5px;
  text-decoration: none;
  margin-right: 50px;
  color: #000;
  font-size: 20px;
  position: relative;
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
@media (max-width: 1600px) {
  .navbar-links a {
    font-size: 14px;
    margin-right: 40px;
  }
}
@media (max-width: 1240px) {
  .navbar-links a {
    margin-right: 20px;
  }
}
@media (max-width: 1000px) {
  .navbar-links a {
    margin: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 600px) {
  .navbar-links a {
    font-size: 12px;
  }
}
.navbar-links a:last-child {
  margin-right: 0;
}
@media (max-width: 1000px) {
  .navbar-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1000px) {
  .navbar-text a {
    color: white;
    margin: 0;
    margin-bottom: 10px;
  }
}
.navbar-socials {
  margin-left: 80px;
}
@media (max-width: 1600px) {
  .navbar-socials {
    margin-left: 40px;
  }
}
@media (max-width: 1240px) {
  .navbar-socials {
    margin-left: 20px;
  }
}
@media (max-width: 1000px) {
  .navbar-socials {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}
.navbar-socials a {
  margin: 0;
  margin-left: 10px;
}
@media (max-width: 1240px) {
  .navbar-socials a {
    margin-left: 0;
  }
}
.navbar-socials a:first-child {
  margin-left: 0;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.header {
  background-image: linear-gradient(#000, #3b3b3b);
  height: 100vh;
  padding-top: 200px;
}
@media (max-width: 600px) {
  .header-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.header-wrap__title {
  font-size: 50px;
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
  margin-bottom: 60px;
  color: #fff;
  line-height: 1.5;
}
@media (max-width: 1600px) {
  .header-wrap__title {
    font-size: 35px;
    margin-bottom: 30px;
  }
}
@media (max-width: 1240px) {
  .header-wrap__title {
    font-size: 32px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1000px) {
  .header-wrap__title {
    font-size: 30px;
  }
}
@media (max-width: 800px) {
  .header-wrap__title {
    font-size: 28px;
  }
}
@media (max-width: 600px) {
  .header-wrap__title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    line-height: 1.7;
  }
}
@media (max-width: 400px) {
  .header-wrap__title {
    font-size: 20px;
  }
}
.header-wrap__title strong {
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 900;
  background-color: #fff;
  color: #000;
  padding: 3px 5px;
}
.header-wrap__button {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  padding: 27px 23px;
  border-radius: 5px;
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
@media (max-width: 1600px) {
  .header-wrap__button {
    font-size: 14px;
    padding: 16px 14px;
  }
}
@media (max-width: 1240px) {
  .header-wrap__button {
    font-size: 13px;
    padding: 14px 12px;
  }
}
@media (max-width: 1000px) {
  .header-wrap__button {
    font-size: 12px;
    padding: 13px 9px;
  }
}
@media (max-width: 800px) {
  .header-wrap__button {
    padding: 12px 8px;
  }
}
@media (max-width: 400px) {
  .header-wrap__button {
    font-size: 10px;
  }
}
.header-wrap__button:hover {
  scale: 1.02;
  background-color: #000;
  cursor: pointer;
  color: #fff;
  box-shadow: 3px 3px 30px 3px #fff;
  transition: 0.3s;
}
.header-wrap__button:not(:hover) {
  transition: 0.3s;
}

.explain {
  padding: 120px 0 50px 0;
}
@media (max-width: 1600px) {
  .explain {
    padding: 75px 0 40px;
  }
}
@media (max-width: 1240px) {
  .explain {
    padding: 70px 0 30px 0;
  }
}
@media (max-width: 1000px) {
  .explain {
    padding: 65px 0 20px 0;
  }
}
@media (max-width: 400px) {
  .explain {
    padding: 55px 0 10px 0;
  }
}
.explain-title strong {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: #000;
  padding: 0 5px;
}
.explain-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .explain-wrap {
    flex-direction: column;
  }
}
.explain-text {
  width: 60%;
}
@media (max-width: 1240px) {
  .explain-text {
    width: 50%;
  }
}
@media (max-width: 1000px) {
  .explain-text {
    width: 100%;
    padding-bottom: 60px;
  }
}
@media (max-width: 800px) {
  .explain-text {
    padding-bottom: 40px;
  }
}
.explain-text__item {
  margin: 50px 0 0 0;
  max-width: 810px;
  line-height: 2.2;
}
@media (max-width: 1600px) {
  .explain-text__item {
    line-height: 2;
    margin-top: 5px;
    max-width: 650px;
  }
}
@media (max-width: 600px) {
  .explain-text__item {
    line-height: 1.8;
  }
}
.explain-text__item span {
  font-size: 25px;
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
@media (max-width: 1600px) {
  .explain-text__item span {
    font-size: 18px;
  }
}
@media (max-width: 1240px) {
  .explain-text__item span {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .explain-text__item span {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .explain-text__item span {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .explain-text__item span {
    font-size: 14px;
  }
}
.explain-text__item p {
  font-size: 20px;
}
@media (max-width: 1600px) {
  .explain-text__item p {
    font-size: 16px;
  }
}
@media (max-width: 1240px) {
  .explain-text__item p {
    font-size: 15px;
  }
}
@media (max-width: 1000px) {
  .explain-text__item p {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  .explain-text__item p {
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  .explain-text__item p {
    font-size: 11px;
  }
}
.explain-text__item p strong {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.explain-slider__arrows {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin-left: 170px;
  margin-top: 20px;
}
@media (max-width: 1600px) {
  .explain-slider__arrows {
    margin-top: -15px;
    max-width: 250px;
  }
}
@media (max-width: 1000px) {
  .explain-slider__arrows {
    margin: auto;
    max-width: 150px;
  }
}
@media (max-width: 800px) {
  .explain-slider__arrows {
    margin-top: 30px;
  }
}
@media (max-width: 600px) {
  .explain-slider__arrows {
    width: 150px;
    margin-top: 10px;
  }
}
.explain-slider__arrowLeft img, .explain-slider__arrowRight img {
  width: 100px;
}
@media (max-width: 1600px) {
  .explain-slider__arrowLeft img, .explain-slider__arrowRight img {
    width: 70px;
  }
}
@media (max-width: 1000px) {
  .explain-slider__arrowLeft img, .explain-slider__arrowRight img {
    width: 60px;
  }
}
@media (max-width: 600px) {
  .explain-slider__arrowLeft img, .explain-slider__arrowRight img {
    width: 50px;
  }
}
.explain-slider__arrowLeft:hover, .explain-slider__arrowRight:hover {
  scale: 1.2;
  transition: 0.3s;
}
.explain-slider__arrowLeft:not(:hover), .explain-slider__arrowRight:not(:hover) {
  transition: 0.3s;
}
.explain-image {
  width: 40%;
  margin: auto;
}
@media (max-width: 1240px) {
  .explain-image {
    width: 50%;
  }
}
@media (max-width: 1000px) {
  .explain-image {
    width: 100%;
  }
}
.explain-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media (max-width: 1000px) {
  .explain-cards {
    justify-content: center;
    margin: 0 40px;
  }
}
@media (max-width: 800px) {
  .explain-cards {
    margin: 0 60px;
  }
}
@media (max-width: 600px) {
  .explain-cards {
    margin: 0;
  }
}
.explain-cards__item {
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px;
  cursor: pointer;
  width: 288px;
  height: 162px;
}
.explain-cards__item:hover {
  scale: 1.1;
  transition: 0.3s;
  box-shadow: 5px 5px;
}
.explain-cards__item:not(:hover) {
  transition: 0.5s;
}
@media (max-width: 1600px) {
  .explain-cards__item {
    width: 218px;
    height: 123px;
  }
}
@media (max-width: 1240px) {
  .explain-cards__item {
    width: 198px;
    height: 111px;
  }
}
@media (max-width: 1100px) {
  .explain-cards__item {
    width: 160px;
    height: 90px;
  }
}
@media (max-width: 1000px) {
  .explain-cards__item {
    width: 198px;
    height: 111px;
  }
}
@media (max-width: 800px) {
  .explain-cards__item {
    width: 140px;
    height: 79px;
    margin: 0 10px 10px 0;
  }
}
@media (max-width: 430px) {
  .explain-cards__item {
    width: 198px;
    height: 111px;
    margin: 0 0 30px 0;
  }
  .explain-cards__item:last-child {
    margin: 0;
  }
}
.explain-cards__item img {
  width: 288px;
  height: 162px;
}
@media (max-width: 1600px) {
  .explain-cards__item img {
    width: 218px;
    height: 123px;
  }
}
@media (max-width: 1240px) {
  .explain-cards__item img {
    width: 198px;
    height: 111px;
  }
}
@media (max-width: 1100px) {
  .explain-cards__item img {
    width: 160px;
    height: 90px;
  }
}
@media (max-width: 1000px) {
  .explain-cards__item img {
    width: 198px;
    height: 111px;
  }
}
@media (max-width: 800px) {
  .explain-cards__item img {
    width: 140px;
    height: 79px;
  }
}
@media (max-width: 430px) {
  .explain-cards__item img {
    width: 198px;
    height: 111px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;
}
.modal-dialog {
  margin: auto;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 2vw;
  height: 2vw;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1600px) {
  .modal-dialog__close {
    font-size: 23px;
  }
}
@media (max-width: 1240px) {
  .modal-dialog__close {
    font-size: 16px;
    width: 3vw;
    height: 3vw;
  }
}
@media (max-width: 1000px) {
  .modal-dialog__close {
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  .modal-dialog__close {
    font-size: 12px;
    width: 4vw;
    height: 4vw;
  }
}
@media (max-width: 600px) {
  .modal-dialog__close {
    font-size: 10px;
    width: 1vw;
    height: 2.5vw;
    width: 5vw;
    height: 5vw;
  }
}
@media (max-width: 400px) {
  .modal-dialog__close {
    font-size: 8px;
    width: 6vw;
    height: 6vw;
  }
}
.modal-active {
  display: flex;
}
.modal-active body {
  overflow-y: hidden;
}
.modal-active img {
  width: 55vw;
}
@media (max-width: 1240px) {
  .modal-active img {
    width: 75vw;
  }
}
@media (max-width: 1000px) {
  .modal-active img {
    width: 85vw;
  }
}
@media (max-width: 800px) {
  .modal-active img {
    width: 90vw;
  }
}
@media (max-width: 600px) {
  .modal-active img {
    width: 94vw;
  }
}
@media (max-width: 400px) {
  .modal-active img {
    width: 94vw;
  }
}

.tools {
  padding: 120px 0 50px 0;
}
@media (max-width: 1600px) {
  .tools {
    padding: 75px 0 40px;
  }
}
@media (max-width: 1240px) {
  .tools {
    padding: 70px 0 30px 0;
  }
}
@media (max-width: 1000px) {
  .tools {
    padding: 60px 0 20px 0;
  }
}
@media (max-width: 400px) {
  .tools {
    padding: 55px 0 10px 0;
  }
}
.tools-title {
  margin-bottom: 40px;
}
@media (max-width: 1000px) {
  .tools-title {
    margin-bottom: 20px;
  }
}
.tools-title strong {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: #000;
  padding: 0 5px;
}
.tools-block {
  justify-content: space-between;
  flex-direction: column;
}
.tools-block__title {
  font-size: 30px;
  margin: 0;
  text-align: center;
  margin-bottom: 40px;
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 900;
}
@media (max-width: 1600px) {
  .tools-block__title {
    font-size: 23px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1240px) {
  .tools-block__title {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  .tools-block__title {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .tools-block__title {
    font-size: 16px;
  }
}
.tools-item {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .tools-item {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.tools-review {
  max-width: 650px;
  box-shadow: inset -2px -5px 30px 0px rgba(0, 0, 0, 0.1);
}
.tools-review__title {
  display: block;
  text-align: center;
  font-size: 25px;
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
  color: #fff;
  padding: 6px 0;
  background-color: #000;
  border-radius: 5px 5px 0 0;
}
@media (max-width: 1600px) {
  .tools-review__title {
    font-size: 18px;
  }
}
@media (max-width: 1240px) {
  .tools-review__title {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .tools-review__title {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  .tools-review__title {
    font-size: 12px;
  }
}
.tools-review__text {
  margin: 0;
  padding-right: 15px;
  font-size: 22px;
  line-height: 2.2;
}
@media (max-width: 1600px) {
  .tools-review__text {
    font-size: 16px;
    line-height: 2;
  }
}
@media (max-width: 1240px) {
  .tools-review__text {
    font-size: 14px;
  }
}
@media (max-width: 1000px) {
  .tools-review__text {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .tools-review__text {
    font-size: 11px;
  }
}
.tools-review__text ul {
  padding-left: 30px;
}
.tools-video {
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  .tools-video {
    margin-bottom: 40px;
  }
}
.tools-video video {
  max-width: 400px;
}
@media (max-width: 1100px) {
  .tools-video video {
    width: 350px;
  }
}
@media (max-width: 1000px) {
  .tools-video video {
    width: 250px;
  }
}
@media (max-width: 800px) {
  .tools-video video {
    width: 220px;
  }
}

ul.slick-dots {
  display: inline-block;
  margin-bottom: -30px;
}
@media (max-width: 1000px) {
  ul.slick-dots {
    margin-bottom: -10px;
  }
}
ul.slick-dots li {
  border: solid 3px black;
  border-radius: 100px;
}
@media (max-width: 1600px) {
  ul.slick-dots li {
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 1000px) {
  ul.slick-dots li {
    width: 13px;
    height: 13px;
    border: solid 2px black;
  }
}
ul.slick-dots li button {
  visibility: hidden;
}

li.slick-active {
  background-color: black;
}

.footer {
  padding: 120px 0 210px 0;
}
@media (max-width: 1600px) {
  .footer {
    padding: 75px 0 210px;
  }
}
@media (max-width: 1400px) {
  .footer {
    padding: 70px 0 25px;
  }
}
@media (max-width: 1240px) {
  .footer {
    padding: 65px 0 30px 0;
  }
}
@media (max-width: 1000px) {
  .footer {
    padding: 60px 0 20px 0;
  }
}
@media (max-width: 400px) {
  .footer {
    padding: 55px 0 10px 0;
  }
}
.footer-title {
  margin: 0;
  margin-bottom: 40px;
}
@media (max-width: 1600px) {
  .footer-title {
    margin-bottom: 30px;
  }
}
@media (max-width: 1000px) {
  .footer-title {
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .footer-title {
    margin-bottom: 10px;
  }
}
.footer-title strong {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: #000;
  padding: 0 5px;
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .footer-wrap {
    flex-direction: column-reverse;
  }
}
.footer-contact {
  width: 50%;
}
@media (max-width: 1000px) {
  .footer-contact {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .footer-contact {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.footer-contact span {
  font-size: 23px;
}
@media (max-width: 1600px) {
  .footer-contact span {
    font-size: 16px;
  }
}
@media (max-width: 1240px) {
  .footer-contact span {
    font-size: 14px;
  }
}
@media (max-width: 1000px) {
  .footer-contact span {
    font-size: 13px;
  }
}
@media (max-width: 800px) {
  .footer-contact span {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  .footer-contact span {
    font-size: 11px;
  }
}
.footer-contact__email {
  font-size: 20px;
}
@media (max-width: 1600px) {
  .footer-contact__email {
    font-size: 15px;
  }
}
@media (max-width: 1240px) {
  .footer-contact__email {
    font-size: 14px;
  }
}
@media (max-width: 1000px) {
  .footer-contact__email {
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  .footer-contact__email {
    font-size: 11px;
  }
}
@media (max-width: 600px) {
  .footer-contact__email {
    font-size: 10px;
  }
}
.footer-contact__socials {
  margin-top: 40px;
}
@media (max-width: 1600px) {
  .footer-contact__socials {
    margin-top: 30px;
  }
}
@media (max-width: 1000px) {
  .footer-contact__socials {
    margin-top: 10px;
  }
}
.footer-contact__socials a {
  text-decoration: none;
  margin-right: 20px;
}
@media (max-width: 1240px) {
  .footer-contact__socials a {
    margin-right: 10px;
  }
}
.footer-contact__socials a:last-child {
  margin-right: 0;
}
.footer-form {
  width: 50%;
}
@media (max-width: 1000px) {
  .footer-form {
    width: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
}
.form label {
  display: block;
  font-size: 23px;
  margin-bottom: 5px;
}
@media (max-width: 1600px) {
  .form label {
    font-size: 16px;
  }
}
@media (max-width: 1240px) {
  .form label {
    font-size: 15px;
  }
}
@media (max-width: 1000px) {
  .form label {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  .form label {
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  .form label {
    font-size: 11px;
  }
}
.form input {
  padding: 7px;
  font-size: 20px;
  margin-bottom: 20px;
}
@media (max-width: 1600px) {
  .form input {
    font-size: 15px;
  }
}
@media (max-width: 1240px) {
  .form input {
    font-size: 14px;
  }
}
@media (max-width: 1000px) {
  .form input {
    font-size: 13px;
  }
}
@media (max-width: 800px) {
  .form input {
    font-size: 11px;
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .form input {
    font-size: 9px;
  }
}
.form textarea {
  font-size: 20px;
  height: 160px;
  margin-bottom: 20px;
}
@media (max-width: 1600px) {
  .form textarea {
    font-size: 15px;
    height: 150px;
  }
}
@media (max-width: 1240px) {
  .form textarea {
    font-size: 14px;
  }
}
@media (max-width: 1100px) {
  .form textarea {
    height: 80px;
  }
}
@media (max-width: 1000px) {
  .form textarea {
    font-size: 13px;
    margin-bottom: 10px;
  }
}
@media (max-width: 800px) {
  .form textarea {
    font-size: 11px;
    height: 60px;
    margin-bottom: 5px;
  }
}
@media (max-width: 600px) {
  .form textarea {
    font-size: 9px;
    height: 60px;
  }
}
.form__secure {
  font-size: 20px;
}
@media (max-width: 1600px) {
  .form__secure {
    font-size: 15px;
  }
}
@media (max-width: 1240px) {
  .form__secure {
    font-size: 14px;
  }
}
@media (max-width: 1000px) {
  .form__secure {
    font-size: 13px;
  }
}
@media (max-width: 800px) {
  .form__secure {
    font-size: 11px;
  }
}
@media (max-width: 600px) {
  .form__secure {
    font-size: 9px;
  }
}
.form button {
  margin-top: 30px;
}
@media (max-width: 1000px) {
  .form button {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 800px) {
  .form button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .form button {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.myself {
  padding: 120px 0 50px 0;
}
@media (max-width: 1600px) {
  .myself {
    padding: 75px 0 40px;
  }
}
@media (max-width: 1240px) {
  .myself {
    padding: 70px 0 30px 0;
  }
}
@media (max-width: 1000px) {
  .myself {
    padding: 60px 0 20px 0;
  }
}
@media (max-width: 400px) {
  .myself {
    padding: 55px 0 10px 0;
  }
}
.myself-title {
  display: inline-block;
  color: #fff;
  background-color: #000;
  padding: 5px 15px;
  border-radius: 30px;
  letter-spacing: 2px;
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
@media (max-width: 800px) {
  .myself-title {
    letter-spacing: 1.5px;
  }
}
@media (max-width: 600px) {
  .myself-title {
    letter-spacing: 1.2px;
    text-align: center;
  }
}
@media (max-width: 530px) {
  .myself-title {
    width: 75%;
    display: block;
    margin: auto;
  }
}
@media (max-width: 430px) {
  .myself-title {
    width: 95%;
  }
}
.myself-title strong {
  color: #848484;
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
}
.myself-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .myself-wrap {
    flex-direction: column-reverse;
  }
}
.myself-text {
  width: 65%;
}
@media (max-width: 800px) {
  .myself-text {
    width: 100%;
  }
}
.myself-text__desc {
  font-size: 20px;
  line-height: 2.2;
  margin-top: 20px;
}
@media (max-width: 1600px) {
  .myself-text__desc {
    font-size: 16px;
    line-height: 2;
  }
}
@media (max-width: 1240px) {
  .myself-text__desc {
    font-size: 15px;
  }
}
@media (max-width: 1000px) {
  .myself-text__desc {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  .myself-text__desc {
    font-size: 13px;
    margin-top: 30px;
  }
}
@media (max-width: 600px) {
  .myself-text__desc {
    font-size: 11px;
    line-height: 1.8;
  }
}
.myself-text__desc strong {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.myself-image {
  width: 35%;
  text-align: right;
}
@media (max-width: 800px) {
  .myself-image {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
.myself-image img {
  border-radius: 1000px;
}
@media (max-width: 1600px) {
  .myself-image img {
    width: 250px;
  }
}
@media (max-width: 1240px) {
  .myself-image img {
    width: 200px;
  }
}
@media (max-width: 1000px) {
  .myself-image img {
    width: 170px;
  }
}
@media (max-width: 800px) {
  .myself-image img {
    width: 160px;
  }
}
@media (max-width: 430px) {
  .myself-image img {
    width: 150px;
  }
}

.myProjects {
  padding: 120px 0 50px 0;
}
@media (max-width: 1600px) {
  .myProjects {
    padding: 75px 0 40px;
  }
}
@media (max-width: 1240px) {
  .myProjects {
    padding: 70px 0 30px 0;
  }
}
@media (max-width: 1000px) {
  .myProjects {
    padding: 60px 0 20px 0;
  }
}
@media (max-width: 400px) {
  .myProjects {
    padding: 55px 0 10px 0;
  }
}
.myProjects-wrap__title {
  margin-bottom: 30px;
}
.myProjects-wrap__title strong {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: #000;
  padding: 0 5px;
}
.myProjects-cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 800px) {
  .myProjects-cards {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 50px;
  }
}
@media (max-width: 450px) {
  .myProjects-cards {
    flex-direction: column;
    align-items: center;
  }
}
.myProjects-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 800px) {
  .myProjects-item {
    margin-right: 70px;
    margin-bottom: 50px;
  }
  .myProjects-item:nth-child(2), .myProjects-item:nth-child(4) {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .myProjects-item {
    margin-right: 30px;
  }
  .myProjects-item:nth-child(2), .myProjects-item:nth-child(4) {
    margin-right: 0;
  }
}
@media (max-width: 450px) {
  .myProjects-item {
    margin: 0;
    margin-bottom: 50px;
  }
  .myProjects-item:last-child {
    margin: 0;
  }
}
.myProjects-item__image {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1600px) {
  .myProjects-item__image {
    margin-bottom: 40px;
  }
}
@media (max-width: 800px) {
  .myProjects-item__image {
    margin-bottom: 30px;
  }
}
@media (max-width: 600px) {
  .myProjects-item__image {
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .myProjects-item__image {
    margin-bottom: 10px;
  }
}
.myProjects-item__image img {
  width: 80%;
  height: auto;
  display: block;
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 800px) {
  .myProjects-item__image img {
    width: 160px;
  }
}
@media (max-width: 600px) {
  .myProjects-item__image img {
    width: 130px;
  }
}/*# sourceMappingURL=style.css.map */