@import "vars"
@import "fonts"

*   
    box-sizing: border-box
    font-family: 'Montserrat', sans-serif
.container
    max-width: 1680px
    width: 96%
    margin: auto
body
    margin: 0
    padding: 0
    height: 100%
.hover
    &:hover
        transition: 0.2s
        color: $df-orange
      
        
.hoverBG
    &:hover
        transition: 0.2s
        background: $df-orange
        border-radius: 10px

.navbar
    padding: 35px 0
    position: fixed
    width: 100%
    background-color: #fff
    &-wrap
        display: flex
        justify-content: space-between
    &-logo
        a
            display: flex
            align-items: center
            text-decoration: none
        span
            display: block
            margin-left: 10px
            font-size: 30px
            color: $df-text
            +bold
    &-links
        display: flex
        align-items: center
        a
            text-decoration: none
            margin-right: 80px
            color: $df-text
            font-size: 20px
            position: relative
            +bold
            &:last-child
                margin-right: 0
            
    &-socials
        margin-left: 80px
        a
            margin: 0
            margin-left: 10px
            &:first-child
                margin-left: 0

.header
    background-image: linear-gradient(red, blue)
    height: 100vh
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    overflow: hidden
    &-wrap
        padding-top: 325px
        &__title
            font-size: 50px
            +bold
            margin-bottom: 35px
        &__button
            background-color: $df-blue
            color: #fff
            font-size: 20px
            padding: 27px 23px
            border: $df-blue
            border-radius: 5px
            &:hover
                transition: 0.2s
                background-color: $df-orange
                cursor: pointer

.explain
    padding: 100px 0
    &-wrap
        display: flex
        justify-content: space-between
    &-text
        width: 60%
        &__title
            margin: 0
            font-size: 35px
            +reg
        &__item
            margin: 50px 0 0 0
            max-width: 810px
            line-height: 40px
            span
                font-size: 25px
                +bold
            p
                margin: 0
                font-size: 20px
                +reg
                strong
                    font-weight: 500
                    color: $df-red
        &__arrows
            display: flex
            justify-content: space-between
            align-content: center
            max-width: 400px
            margin-left: 170px
    &-image
        width: 40%
        margin: auto
        &__block
            display: flex
            justify-content: center
        &__item
            max-width: 400px
            height: 400px
            display: flex
            align-items: center
            img
                max-width: 400px
                height: auto
.slick-initialized .slick-slide
    display: flex
.slick-dots
    bottom: -50px
    li
        width: 25px
        height: 25px
        button
            border: 5px solid $df-red
            border-radius: 100px
            width: 25px
            height: 25px
li.slick-active
    background-color: $df-red
    border-radius: 100px
                





