@import "vars"
@import "fonts"

*   
    box-sizing: border-box
    font-family: 'Montserrat', sans-serif
.container
    max-width: 1680px
    width: 96%
    margin: auto
body
    margin: 0
    padding: 0
    height: 100%
.section-title
    margin: 0
    font-size: 35px
    +reg
.hover
    &:hover
        transition: 0.2s
        color: $df-orange
.hoverBG
    &:hover
        transition: 0.2s
        background: $df-orange
        border-radius: 10px

.navbar
    padding: 35px 0
    position: fixed
    width: 100%
    background-color: #fff
    &-wrap
        display: flex
        justify-content: space-between
    &-logo
        a
            display: flex
            align-items: center
            text-decoration: none
        span
            display: block
            margin-left: 10px
            font-size: 30px
            color: $df-text
            +bold
    &-links
        display: flex
        align-items: center
        a
            text-decoration: none
            margin-right: 80px
            color: $df-text
            font-size: 20px
            position: relative
            +bold
            &:last-child
                margin-right: 0
            
    &-socials
        margin-left: 80px
        a
            margin: 0
            margin-left: 10px
            &:first-child
                margin-left: 0

.header
    background-image: linear-gradient(red, blue)
    height: 100vh
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    overflow: hidden
    &-wrap
        padding-top: 325px
        &__title
            font-size: 50px
            +bold
            margin-bottom: 35px
        &__button
            background-color: $df-blue
            color: #fff
            font-size: 20px
            padding: 27px 23px
            border: $df-blue
            border-radius: 5px
            &:hover
                transition: 0.2s
                background-color: $df-orange
                cursor: pointer

.explain
    padding: 0 0 50px 0
    &-wrap
        display: flex
        justify-content: space-between
    &-text
        width: 60%
        &__title
            padding: 110px 0 0 0
        &__item
            margin: 50px 0 0 0
            max-width: 810px
            line-height: 40px
            span
                font-size: 25px
                +bold
            p
                margin: 0
                font-size: 20px
                +reg
                strong
                    font-weight: 500
                    color: $df-red
        &__arrows
            display: flex
            justify-content: space-between
            align-content: center
            max-width: 400px
            margin-left: 170px
    &-image
        width: 40%
        margin: auto
        &__block
            display: flex
            justify-content: center
        &__item
            max-width: 400px
            height: 400px
            display: flex
            align-items: center
            img
                max-width: 400px
                height: auto

.slick-initialized .slick-slide
    display: flex
.slick-dots
    bottom: -50px
    li
        width: 25px
        height: 25px
        button
            border: 4px solid $df-red
            border-radius: 100px
            width: 25px
            height: 25px

li.slick-active
    background-color: $df-red
    border-radius: 100px

.offer
    padding: 50px 0
    &-wrap
        &__title
            margin-bottom: 30px
    &-slider
        &__arrows
            text-align: center
    &-block
        justify-content: space-between
        flex-direction: column
        &__title
            font-size: 30px
            margin: 0
            text-align: center
            margin-bottom: 40px
    &-item
        display: flex
        justify-content: space-between
    &-review
        max-width: 560px
        &__title
            display: block
            text-align: center
            font-size: 25px
            +bold
            color: #fff
            padding: 6px 0
            background-color: #000
        &__text
            margin: 0
            padding: 25px 0
            +reg
            font-size: 22px
            line-height: 40px
            box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1)
    &-video
        background-color: #000
        width: 400px
        height: 400px
        display: flex
        align-items: center
        img
            max-width: 400px
            height: auto
.offer-video
    width: 400px

    