* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1680px;
  width: 96%;
  margin: auto;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.hover:hover {
  transition: 0.2s;
  color: #E96110;
}

.hoverBG:hover {
  transition: 0.2s;
  background: #E96110;
  border-radius: 10px;
}

.navbar {
  padding: 35px 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
}
.navbar-wrap {
  display: flex;
  justify-content: space-between;
}
.navbar-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.navbar-logo span {
  display: block;
  margin-left: 10px;
  font-size: 30px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.navbar-links {
  display: flex;
  align-items: center;
}
.navbar-links a {
  text-decoration: none;
  margin-right: 80px;
  color: #000;
  font-size: 20px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.navbar-links a:last-child {
  margin-right: 0;
}
.navbar-socials {
  margin-left: 80px;
}
.navbar-socials a {
  margin: 0;
  margin-left: 10px;
}
.navbar-socials a:first-child {
  margin-left: 0;
}

.header {
  background-image: linear-gradient(red, blue);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.header-wrap {
  padding-top: 325px;
}
.header-wrap__title {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 35px;
}
.header-wrap__button {
  background-color: #38B6FF;
  color: #fff;
  font-size: 20px;
  padding: 27px 23px;
  border: #38B6FF;
  border-radius: 5px;
}
.header-wrap__button:hover {
  transition: 0.2s;
  background-color: #E96110;
  cursor: pointer;
}

.explain {
  padding: 100px 0;
}
.explain-wrap {
  display: flex;
  justify-content: space-between;
}
.explain-text {
  width: 60%;
}
.explain-text__title {
  margin: 0;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.explain-text__item {
  margin: 50px 0 0 0;
  max-width: 810px;
  line-height: 40px;
}
.explain-text__item span {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.explain-text__item p {
  margin: 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.explain-text__item p strong {
  font-weight: 500;
  color: #ff0000;
}
.explain-text__arrows {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 400px;
  margin-left: 170px;
}
.explain-image {
  width: 40%;
  margin: auto;
}
.explain-image__block {
  display: flex;
  justify-content: center;
}
.explain-image__item {
  max-width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
}
.explain-image__item img {
  max-width: 400px;
  height: auto;
}

.slick-initialized .slick-slide {
  display: flex;
}

.slick-dots {
  bottom: -50px;
}
.slick-dots li {
  width: 25px;
  height: 25px;
}
.slick-dots li button {
  border: 5px solid #ff0000;
  border-radius: 100px;
  width: 25px;
  height: 25px;
}

li.slick-active {
  background-color: #ff0000;
  border-radius: 100px;
}/*# sourceMappingURL=style.css.map */