@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  font-family: "Montserrat-Regular", sans-serif;
}

.container {
  max-width: 1680px;
  width: 96%;
  margin: auto;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.section-title {
  margin: 0;
  font-size: 35px;
}

.NavbarHover:hover {
  color: #E96110;
  box-shadow: 0.01px 3px;
  transition: 0.2s;
}
.NavbarHover:not(hover) {
  transition: 0.2s;
}

.SocialHover:hover {
  transition: 0.2s;
  background: #E96110;
  border-radius: 10px;
}
.SocialHover:not(:hover) {
  transition: 0.2s;
}

.ViewHover:hover {
  transition: 0.2s;
  background-color: #E96110;
  cursor: pointer;
  scale: 1.02;
  opacity: 10;
}
.ViewHover:not(:hover) {
  transition: 0.2s;
}

.navbar {
  padding: 35px 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  border-bottom: solid 2px rgba(0, 0, 0, 0.0392156863);
}
.navbar-wrap {
  display: flex;
  justify-content: space-between;
}
.navbar-logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.navbar-logo span {
  display: block;
  margin-left: 10px;
  font-size: 30px;
  color: #000;
  font-family: "Montserrat-Bold", sans-serif;
}
.navbar-links {
  display: flex;
  align-items: center;
}
.navbar-links a {
  padding: 5px;
  text-decoration: none;
  margin-right: 80px;
  color: #000;
  font-size: 20px;
  position: relative;
  font-family: "Montserrat-Bold", sans-serif;
}
.navbar-links a:last-child {
  margin-right: 0;
}
.navbar-socials {
  margin-left: 80px;
}
.navbar-socials a {
  margin: 0;
  margin-left: 10px;
}
.navbar-socials a:first-child {
  margin-left: 0;
}
.navbar-socials a img {
  border-radius: 10px;
}

.header {
  background-image: linear-gradient(#000, #3b3b3b);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.header-wrap {
  padding-top: 325px;
}
.header-wrap__title {
  font-size: 50px;
  font-family: "Montserrat-Bold", sans-serif;
  margin-bottom: 60px;
  color: #fff;
}
.header-wrap__button {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  padding: 27px 23px;
  border: #38B6FF;
  border-radius: 5px;
  font-family: "Montserrat-Bold", sans-serif;
}
.header-wrap__button:hover {
  scale: 1.02;
  background-color: #000;
  cursor: pointer;
  color: #fff;
  box-shadow: 3px 3px 30px 3px #fff;
  transition: 0.3s;
}
.header-wrap__button:not(:hover) {
  transition: 0.3s;
}

.explain {
  padding: 140px 0 50px 0;
}
.explain-wrap {
  display: flex;
  justify-content: space-between;
}
.explain-text {
  width: 60%;
}
.explain-text__item {
  margin: 50px 0 0 0;
  max-width: 810px;
  line-height: 40px;
}
.explain-text__item span {
  font-size: 25px;
  font-family: "Montserrat-Bold", sans-serif;
}
.explain-text__item p {
  margin: 0;
  font-size: 20px;
  font-family: "Montserrat-Regular", sans-serif;
}
.explain-text__item p strong {
  font-family: "Montserrat-Bold", sans-serif;
  color: #000;
}
.explain-text__arrows {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 400px;
  margin-left: 170px;
  margin-top: 50px;
}
.explain-image {
  width: 40%;
  margin: auto;
}
.explain-cards {
  display: flex;
  flex-wrap: wrap;
}
.explain-cards__item {
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px;
  cursor: pointer;
  width: 288px;
  height: 162px;
}
.explain-cards__item:hover {
  scale: 1.1;
  transition: 0.3s;
  box-shadow: 5px 5px;
}
.explain-cards__item:not(:hover) {
  transition: 0.5s;
}
.explain-cards__item img {
  width: 288px;
  height: 162px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;
}
.modal-dialog {
  margin: auto;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-active {
  display: flex;
}
.modal-active body {
  overflow-y: hidden;
}
.modal-active img {
  width: 55vw;
}

.offer {
  padding: 50px 0;
}
.offer-wrap__title {
  margin-bottom: 30px;
}
.offer-slider__arrows {
  text-align: center;
}
.offer-slider__arrowLeft img {
  width: 100px;
  height: auto;
}
.offer-slider__arrowRight img {
  width: 100px;
  height: auto;
}
.offer-block {
  justify-content: space-between;
  flex-direction: column;
}
.offer-block__title {
  font-size: 30px;
  margin: 0;
  text-align: center;
  margin-bottom: 40px;
}
.offer-item {
  display: flex;
  justify-content: space-between;
}
.offer-review {
  max-width: 650px;
  box-shadow: inset -2px -5px 30px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0 5px;
}
.offer-review__title {
  display: block;
  text-align: center;
  font-size: 25px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #fff;
  padding: 6px 0;
  background-color: #000;
  border-radius: 5px 0;
}
.offer-review__text {
  margin: 0;
  padding-right: 15px;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 22px;
  line-height: 40px;
}
.offer-video {
  background-color: #000;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
}
.offer-video img {
  max-width: 400px;
  height: auto;
}

.offer-video {
  width: 400px;
}

.footer {
  padding: 50px 0 100px 0;
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
}
.footer-contact {
  width: 50%;
}
.footer-contact span {
  font-size: 20px;
}
.footer-contact__title {
  margin: 0;
  margin-bottom: 40px;
}
.footer-contact__title strong {
  color: #E96110;
}
.footer-contact__email {
  font-size: 20px;
}
.footer-contact__socials {
  margin-top: 40px;
}
.footer-contact__socials a {
  text-decoration: none;
  margin-right: 20px;
}
.footer-contact__socials a:last-child {
  margin-right: 0;
}
.footer-contact__socials a img {
  border-radius: 10px;
}
.footer-form {
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
}
.form label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}
.form input {
  padding: 7px;
  font-size: 20px;
  margin-bottom: 20px;
}
.form textarea {
  font-size: 20px;
  height: 160px;
  margin-bottom: 20px;
}
.form__secure {
  font-size: 20px;
}
.form button {
  font-size: 20px;
  padding: 15px 22px;
  border-radius: 5px;
  border: 0;
  background-color: #38B6FF;
  color: #fff;
  margin-top: 20px;
  width: 20%;
}

.myself {
  padding-bottom: 50px;
  padding-top: 140px;
}
.myself-wrap {
  display: flex;
  justify-content: space-between;
}
.myself-text {
  max-width: 50%;
}
.myself-text__title {
  background-color: #38B6FF;
  padding: 5px 15px;
  border-radius: 30px;
}
.myself-text__desc {
  max-width: 700px;
  font-size: 20px;
  line-height: 40px;
  margin-left: 15px;
  font-family: "Montserrat-Regular", sans-serif;
}
.myself-text__desc strong {
  font-weight: 600;
  color: #ff0000;
}
.myself-image {
  width: 50%;
  text-align: center;
}
.myself-image img {
  border-radius: 1000px;
}

.myProjects {
  padding: 50px 0;
}
.myProjects-wrap__title {
  margin-bottom: 30px;
}
.myProjects-cards {
  display: flex;
  justify-content: space-between;
}
.myProjects-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.myProjects-item__image {
  width: 350px;
  height: 350px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 20px;
  box-shadow: inset -2px -5px 30px 0px rgba(0, 0, 0, 0.1);
}
.myProjects-item__image img {
  width: 80%;
  height: auto;
  display: block;
}
.myProjects-item button {
  font-size: 20px;
  padding: 15px 22px;
  border-radius: 5px;
  border: 0;
  background-color: #38B6FF;
  color: #fff;
  width: 50%;
}/*# sourceMappingURL=style.css.map */